.profile__info{
  width: calc(100% - 150px);
  padding-top: 22px;
}

@media screen and (max-width: 767px){
  .profile__info{
    width: 100%;
    padding-top: 0;
    text-align: center;
  }
}

/* Я знаю что во многих местах эти мрджины не совпадают с макетом, */
/* но в макете базавая линия строк находися не на самом нижнем элементе */
/* + в некоторых местах высота элементов текста ранва 26px(в этом случае), а line-height: текст равен 33px */
/* как это понимать непонятно */
